{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "<YOUR_MODULES>", "^@/.*$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "bracketSpacing": true
}
